#{extends 'main.html'/}
#{set title:'Employees'/}

#{header /}
#{bootstrap /}

#{set 'moreScripts'}
	<script type="text/javascript">
    
    $(function(){
        $("#datepicker").datepicker({dateFormat:'yy-mm-dd'});
        $("#datepicker-1").datepicker({dateFormat:'yy-mm-dd'});
    });
    </script>
#{/set}

#{set 'moreStyles'}
<style type="text/css">
    label{
        width: 200px;
    }
</style>
#{/set}
<div class="wrapper col2">
    <div id="topbar">
        <div id="topnav">
        </div>
        <br class="clear" />
    </div>
</div>
<div class="wrapper col3">
    <div class="content">
        #{sidebar /}

        <div style="float: right; width: 700px; background-color: red; height: 60px; margin-top: 10px;">
            <div id="tab">
                <ul>
                    <li><a href="#tab-1">Add Employee</a></li>
                    <li><a href="#tab-2">View Employees</a></li>
                  <li><a href="#tab-3">Edit Employee</a></li>
                </ul>
                <div id="tab-1">
                    <form class="form-horizontal" action="@{EmployeeController.createEmployee()}", method="POST">
                        <div class = "control-group">
                            <label class="control-label" for="fname">First Name</label>
                            <div class="controls">
                                <input class="input-xlarge focused" id="fname" name="first_name" />
                            </div>
                        </div>

                        <div class = "control-group">
                            <label class="control-label" for="mname">Middle Name</label>
                            <div class="controls">
                                <input class="input-xlarge focused" id="mname" type="text" name="middle_name" />
                            </div>
                        </div>

                        <div class = "control-group">
                            <label class="control-label" for="lname">Last Name</label>
                            <div class="controls">
                                <input class="input-xlarge focused" id="lname" type="text" name="last_name" />
                            </div>
                        </div>
                        
                        <div class = "control-group">
                            <label class="control-label" for="lname">Email address</label>
                            <div class="controls">
                                <input class="input-xlarge focused" id="lname" type="text" name="email" />
                            </div>
                        </div>
                        
                        <div class = "control-group">
                            <label class="control-label" for="sex">Sex</label>
                            <div class="controls">
                                <input class="input-xlarge focused" name="sex" type="checkbox" value="Male" />&nbsp;Male<br/>
                                <input class="input-xlarge focused" name="sex" type="checkbox" value="Female" />&nbsp;Female 
                            </div>
                        </div>

                        <div class = "control-group">
                            <label class="control-label" for="staffcat">Staff Categories</label>
                            <div class="controls" id="staffcat">
                                <select class="input-xlarge focused" name="employeetypeid">
                                	#{list items:empTypes, as:"empType"}
                                    <option value="${empType.id}">${empType.name}</option>
                                    #{/list}
                                </select>
                            </div>
                        </div>
						
                        
                        <div class = "control-group">
                            <label class="control-label" for="datehired">Date Hired</label>
                            <div class="controls">
                                <input class="input-xlarge focused" type="text" name="date_hired" id="datepicker"/>
                            </div>
                        </div>
                        <div class = "control-group">
                            <label class="control-label" for="datefired">Date Fired</label>
                            <div class="controls">
                                <input class="input-xlarge focused" type="text" name="date_fired" id="datepicker-1"/>
                            </div>
                        </div>

                       <input class="btn btn-success" style="margin-left: 360px;"
							id="submit" type="submit" />                                              
                    </form>

                </div>
                
                
                <div id="tab-2">
					<form action="@{EmployeeController.removeEmployee()}" method="post">
					#{if flash.error}
						<p class="error">${flash.error}</p>
					#{/if}
					<table>
						<thead>
							<tr>
								<th>Name</th>
								<th>Gender</th>
								<th>Employee Type</th>
								<th>Email</th>
								<th>Date Hired</th>
								<th>Date Fired</th>
								<th>Delete</th>					
							</tr>
						</thead>
						<tbody>
							#{list items:employees, as:"employee"}
							<tr>
								<td>${employee}</td>
								<td>${employee.sex}</td>
								<td>${employee.type}</td>
								<td>${employee.email}</td>
								<td>${employee?.date_hired?.format("dd-MM-yy")}</td>
								<td>${employee?.date_fired?.format("dd-MM-yy")}</td>
								<td style="text-align:center;"><input type="checkbox" name="employeeid[]" value="${employee.id}"/></td>
							</tr>
							#{/list}
						</tbody>
					</table>
					
					<input class="btn btn-success" style="margin-left: 580px;" id="submit" type="submit" />    
					
					</form>
                </div>
                
                
                <div id="tab-3">
                    <form class="form-horizontal" action="@{EmployeeController.editEmployee()}", method="POST">
                    	<div class = "control-group">                     <label class="control-label" for="fname">Select Employee</label>
							<div class="controls">
								<select class="input-xlarge focused" id="fname" name="employeeid" >
									#{list items:employees, as:"employee"}
									<option value="${employee.id}">${employee}</option>
									#{/list}
								</select>
							</div>
						</div>
                        <div class = "control-group">
                            <label class="control-label" for="fname">First Name</label>
                            <div class="controls">
                                <input class="input-xlarge focused" id="fname" name="first_name" />
                            </div>
                        </div>

                        <div class = "control-group">
                            <label class="control-label" for="mname">Middle Name</label>
                            <div class="controls">
                                <input class="input-xlarge focused" id="mname" type="text" name="middle_name" />
                            </div>
                        </div>

                        <div class = "control-group">
                            <label class="control-label" for="lname">Last Name</label>
                            <div class="controls">
                                <input class="input-xlarge focused" id="lname" type="text" name="last_name" />
                            </div>
                        </div>
                        
                        <div class = "control-group">
                            <label class="control-label" for="lname">Email address</label>
                            <div class="controls">
                                <input class="input-xlarge focused" id="lname" type="text" name="email" />
                            </div>
                        </div>
                        
                        <div class = "control-group">
                            <label class="control-label" for="sex">Sex</label>
                            <div class="controls">
                                <input class="input-xlarge focused" name="sex" type="checkbox" value="Male" />&nbsp;Male<br/>
                                <input class="input-xlarge focused" name="sex" type="checkbox" value="Female" />&nbsp;Female 
                            </div>
                        </div>

                        <div class = "control-group">
                            <label class="control-label" for="staffcat">Staff Categories</label>
                            <div class="controls" id="staffcat">
                                <select class="input-xlarge focused" name="employeetypeid">
                                	#{list items:empTypes, as:"empType"}
                                    <option value="${empType.id}">${empType.name}</option>
                                    #{/list}
                                </select>
                            </div>
                        </div>
						
                        
                        <div class = "control-group">
                            <label class="control-label" for="datehired">Date Hired</label>
                            <div class="controls">
                                <input class="input-xlarge focused" type="text" name="date_hired" id="datepicker"/>
                            </div>
                        </div>
                        <div class = "control-group">
                            <label class="control-label" for="datefired">Date Fired</label>
                            <div class="controls">
                                <input class="input-xlarge focused" type="text" name="date_fired" id="datepicker-1"/>
                            </div>
                        </div>

                       <input class="btn btn-success" style="margin-left: 360px;"
							id="submit" type="submit" />                                              
                    </form>

                </div>
            </div>
        </div>

    </div>

</div>
#{footer /}
