#{extends 'main.html' /} #{set title:'Home' /}

<h2>${welcome_message}</h2>

#{ifnot tasks}
<p>No users</p>
#{/ifnot}
<ul>
	#{list items:categories, as:'category'}
	<li>${category.title}</li> #{/list}

</ul>

<!-- This is for Users -->
<p>
	<a id="createCategory" href="#">New Category</a>

</p>

<form id="new_category">
	Category name: <input type="text" id="category_title" /> Yearly
	Budget: <input type="text" id="category_budget" />
	<input type="submit" class = "button" value="Send"/>
	
</form>
<script>
$function(){
	$(".button").click(function(){
		.post('@newCategory()}', {
			title: $('#categy_title').val(), yearly_budget: $('#category_budget').val()
		},
		function(category) {
			$('ul').prepend(
					'<li><input type="checkbox" id="'+category.id+'">'
							+ category.title + " "
							+ category.yearly_budget + '</li>')
		}, 'json')
	})
}

</script>
<script type="text/javascript" charset="utf-8">
	//Create a employee 
	$('#createCategory').click(
			function() {
				//, last_name: prompt('Employee last_name')
				//" " + employee.last_name 
				$.post('@{newCategory()}', {
					title : prompt('Category title ?'),
					yearly_budget : prompt('Yearly budget ?'),
				}, function(category) {
					$('ul').prepend(
							'<li><input type="checkbox" id="'+category.id+'">'
									+ category.title + " "
									+ category.yearly_budget + '</li>')
				}, 'json')
			})

	//change status
	$('input').live('click', function() {
		$.post('@{UserController.changeStatus()}', {
			id : $(this).attr('id'),
			done : $(this).val()
		})
	})
</script>
