#{extends 'main.html'/}
#{set title:'Taxes'/}

#{header /}
#{bootstrap /}



#{set 'moreStyles'}
<style type="text/css">
    label{
        width: 200px;
    }
</style>
#{/set}
<div class="wrapper col2">
	<div id="topbar">
		<div id="topnav"></div>
		<br class="clear" />
	</div>
</div>
<div class="wrapper col3">
	<div class="content">
		#{sidebar /}

		<div
			style="float: right; width: 700px; background-color: red; height: 60px; margin-top: 10px;">
			<div id="tab">
				<ul>
					<li><a href="#tab-1">Add Tax</a>
					</li>
					<li><a href="#tab-2">Show Tax</a>
					</li>
					<!-- <li><a href="#tab-3">Edit Tax</a>
					</li> -->
				</ul>
				<div id="tab-1">
				
				
					<form class="form-horizontal" action="@{TaxController.newTax()}" method="POST">
						<div class="control-group">
							<label class="control-label" for="tname">Tax Name</label>
							<div class="controls">
								<input class="input-xlarge focused" id="tname" name="taxName" />
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="pname">Percentage</label>
							<div class="controls">
								<input class="input-xlarge focused" id="pname" type="text" name="percentage"/>
							</div>
						</div>
						<input class="btn btn-info" style="margin-left: 360px;"
							id="submit" type="submit" value="Send"/>
					</form>
				</div>
				
				<div id="tab-2">Show Tax
					<form action="@{TaxController.deleteTax()}" method="post">
					#{if flash.error}
						<p class="error">${flash.error}</p>
					#{/if}
					<table>
						<thead>
							<tr>
								<th>Category</th>
								<th>Percentage</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							#{list items:taxes, as:"tax"}
							<tr>
								<td>${tax.taxName}</td>
								<td>${tax.percentage}</td>
								<td style="text-align:center;"><input type="checkbox" name="taxids[]" value="${tax.id}"/></td>
							</tr>
							#{/list}
						</tbody>
					</table>
					
					<input class="btn btn-info" style="margin-left: 500px;" id="submit" type="submit" value="Send" />    
					
					</form>
				</div>
				
				<!-- <div id="tab-3">Edit Tax</div> -->
			</div>
		</div>

	</div>

</div>
#{footer /}
