#{extends 'main.html'/}
#{set title:'Employees'/}

#{header /}
#{bootstrap /}

#{set 'moreScripts'}
	<script type="text/javascript">
    
    $(function(){
        $("#datepicker").datepicker({dateFormat:'yy-mm-dd'});
        $("#datepicker-1").datepicker({dateFormat:'yy-mm-dd'});
    });
    </script>
#{/set}

#{set 'moreStyles'}
<style type="text/css">
    label{
        width: 200px;
    }
</style>
#{/set}
<div class="wrapper col2">
    <div id="topbar">
        <div id="topnav">
        </div>
        <br class="clear" />
    </div>
</div>
<div class="wrapper col3">
    <div class="content">
        #{sidebar /}



                

        <div style="float: right; width: 700px; background-color: red; height: 60px; margin-top: 10px;">
            <div id="tab">
                <ul>
                    <li><a href="#tab-1">Add Users</a>
					</li>
					<li><a href="#tab-2">View Users</a>
					</li>
                </ul>
                <div id="tab-1">
                       <form class="form-horizontal" action="@{Authenticate.takeRegistrationDetails()}"
						method="POST">

						<div class="control-group">
							<label class="control-label" for="fname">Select Employee</label>
							<div class="controls">
								<select class="input-xlarge focused" id="fname"
									name="employeeId"> #{list items:employees,
									as:"employee"}
									<option value="${employee.id}">${employee}</option> #{/list}
								</select>
							</div>
						</div>
<p class="field">

						<div class="control-group"><span class="error">#{error 'user.username' /}</span>
							<label class="control-label" for="fname">Username</label>
							<div class="controls">
								<input class="input-xlarge focused" id="fname"
									name="user.username" value="${flash['user.username']}" />
							</div>
						</div>
</p>

						<div class="control-group"><span class="error">#{error 'user.password' /}</span> 
							<label class="control-label" for="fname">Password</label>
							<div class="controls">
								<input class="input-xlarge focused" id="fname"
									name="user.password" value="${flash['user.password']}" type="password"/>
							</div>
						</div>


						<input class="btn btn-success" style="margin-left: 360px;"
							id="submit" type="submit" />
					</form>

                </div>
                
                
                <div id="tab-2">
					<form action="@{Authenticate.deleteUsers()}" method="post">
					#{if flash.error}
						<p class="error">${flash.error}</p>
					#{/if}
					<table>
						<thead>
							<tr>
								<th>Name</th>
								<th>Username</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							#{list items:users, as:"user"}
							<tr>
								<td>${user}</td>
								<td>${user.username}</td>
								<td style="text-align:center;"><input type="checkbox" name="userids[]" value="${user.id}"/></td>
							</tr>
							#{/list}
						</tbody>
					</table>
					
					<input class="btn btn-info" style="margin-left: 580px;" id="submit" type="submit"  value="Send" />    
					
					</form>
                </div>
                
                
                <div id="tab-3">
            </div>
        </div>

    </div>

</div>
#{footer /}
                