#{extends 'main.html'/}
#{set title:'Home'/}

#{header /}
<div class="wrapper col2">
  <div id="topbar">
    <div id="topnav">
    </div>
    <br class="clear" />
  </div>
</div>
<div class="wrapper col3">
<div class="content">
#{sidebar /}

	<div style="float: right; width: 700px; background-color: red; height: 60px; margin-top: 10px;">
		<div id="tab">
			<ul>
				<li><a href="#tab-1">Add User</a></li>
				<li><a href="#tab-2">Show User</a></li>
				<li><a href="#tab-3">Edit User</a></li>
			</ul>
			<div id="tab-1">
				Add Users
			</div>
			<div id="tab-2">
				Show Users
			</div>
			<div id="tab-3">
				Edit Users
			</div>
		</div>
	</div>
	
</div>

</div>
#{footer /}