#{extends 'main.html'/} #{set title:'Employees'/} #{header /}
#{bootstrap /} #{set 'moreScripts'}
<style type="text/css">
    label {
        width: 200px;
    }
</style>
#{/set}
<div class="wrapper col2">
    <div id="topbar">
        <div id="topnav"></div>
        <br class="clear" />
    </div>
</div>
<div class="wrapper col3">
    <div class="content">
        #{sidebar /}

        <div
            style="float: right; width: 700px; background-color: red; height: 60px; margin-top: 10px;">
            <div id="tab">
                <ul>
                    <li><a href="#tab-1">Manage Payroll</a>
                    </li>
                    <li><a href="#tab-2">Paid Employees</a>
                    </li>
                    <!--   <li><a href="#tab-3">Edit Employee</a></li> -->
                </ul>
                <div id="tab-1">
                    <form action="@{PaySlipController.PayEmployees()}" method="POST">
                        <table>
                            <thead>
                                <tr>
                                    <th>Employee Name</th>
                                    <th>Pay</th>
                                </tr>
                            </thead>
                            <tbody>
                                #{list items:unpaidEmployees, as:"unpaidEmployee"}
                                <tr>
                                    <td>
                                        ${unpaidEmployee}
                                    </td>
                                    <td style="text-align: center;">
                                        <input type="checkbox" name="employeeIds[]" value="${unpaidEmployee.id}" />
                                    </td>
                                </tr>
                                #{/list}
                            </tbody>
                        </table>
                        <input class="btn btn-success" style="margin-left: 500px;"
                               id="submit" type="submit" />
                    </form>
                    <hr />
                </div>


                <div id="tab-2">
                    <form action="@{PaySlipController.revokePayment()}" method="POST">
                        <table>
                            <thead>
                                <tr>
                                    <th>Employee Name</th>
                                    <th>Amount Paid</th>
                                    <th>Total Deductions</th>
                                    <th>Revoke</th>
                                </tr>
                            </thead>
                            <tbody>
                                #{list items:paySlips, as:"paySlip"}
                                <tr>
                                    <td>${paySlip}</td>
                                    <td>${paySlip.preTaxSalary}</td>
                                    <td>${paySlip.totalTax}</td>
                                    <td style="text-align: center;"><input type="checkbox"
                                                                           name="payslipids[]" value="${paySlip.id}" />
                                    </td>
                                </tr>
                                #{/list}
                            </tbody>
                        </table>
                        <input class="btn btn-success" style="margin-left: 360px;"
							id="submit" type="submit" />            
                    </form>
                </div>

                <!-- <div id="tab-3">
    Edit Employees
</div> -->
            </div>
        </div>

    </div>

</div>
#{footer /}
