#{extends 'main.html'/} #{set title:'Staff Categories'/}  #{header /} #{bootstrap /}
#{set 'moreScripts'}

<script type="text/javascript">
$(
  function()
  {
    $('#myList').combobox();
  });
</script>
#{/set}
<div class="wrapper col2">
	<div id="topbar">
		<div id="topnav"></div>
		<br class="clear" />
	</div>
</div>
<div class="wrapper col3">
	<div class="content">
		#{sidebar /}

		<div
			style="float: right; width: 700px; background-color: red; height: 60px; margin-top: 10px;">
			<div id="tab">
				<ul>
					<li><a href="#tab-1">Add Staff Category</a>
					</li>
					<li><a href="#tab-2">Show Staff Categories</a>
					</li>
					<!-- <li><a href="#tab-3">Edit Staff Categories</a> -->
					</li>
				</ul>
				<div id="tab-1">
					<form class="form-horizontal" action="@{EmployeeTypeController.createEmployeeType()}" method="post">
						<div class="control-group">
							<label class="control-label" for="fname">Category Name</label>
							<div class="controls">
								<input class="input-xlarge focused" id="fname" name="expenseCatName" />
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label" for="staffcat">Pre Tax Salary</label>
							<div class="controls" id="staffcat">
								<input class="input-xlarge focused" id="fname" name="preTaxSalary" />
							</div>
						</div>
						
						
						<div class="control-group">
							<label class="control-label" for="staffcat">Tax on salary</label>
							<div class="controls" id="staffcat">

								<select name="taxids" id="s1" multiple="multiple" class="input-xlarge">
									#{list items:tax, as:'tax'}
									<option value="${tax.taxName}">${tax.taxName}</option>
									#{/list}	
								</select>

							</div>
						</div>

						<button class="btn btn-success" style="margin-left: 360px;"
							id="submit">Success</button>
					</form>

				</div>
				
				<div id="tab-2">Show Staff Categories
					<form action="@{EmployeeTypeController.deleteEmployeeType()}" method="post">
					#{if flash.error}
						<p class="error">${flash.error}</p>
					#{/if}
					<table>
						<thead>
							<tr>
								<th>Category</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							#{list items:empTypes, as:"empType"}
							<tr>
								<td>${empType.name}</td>
								<td style="text-align:center;"><input type="checkbox" name="empTypeid[]" value="${empType.id}"/></td>
							</tr>
							#{/list}
						</tbody>
					</table>
					
					<input class="btn btn-success" style="margin-left: 500px;" id="submit" type="submit" />    
					
					</form>
				</div>
				
			<!-- 	<div id="tab-3">Edit Staff Categories</div> -->
			</div>
		</div>

	</div>

</div>
#{footer /}
