#{extends "main.html"/}
#{set title:"Modoo" /}
#{set 'moreStyles'}
	<style type="text/css">
		
		.fl_right{
			font-family:Georgia, "Times New Roman", Times, serif;
			font-size: 20px;
			color: white;
		}
		
		#log_form{
			margin:auto;
			padding:20px 20px;
		}
	
		.text{
			width:260px;
			font-size:20px;
		}
	
		#login{
			width:200px;
			height:30px;
		}

	</style>
#{/set}
#{header /}
<div class="wrapper col2">
	<div id="topbar">    
		<div id="topnav">
		</div> 
		<br class="clear" />
	</div>
</div>
<div class="wrapper col3">
	<div id="intro">
		<div class="fl_left">
			<h2>Welcome to Modoo</h2>
			<p>Accounts and employee management to make you smile.</p>
			<p class="readmore"><a href="#">Ipsumsenterdum non velit &raquo;</a></p>
		</div>
		<div class="fl_right" style="width: 380px; height: 300px; background-color: #1C5E82;">
		    <div id="log_form">
				<form>
					<label>Username</label><br />
					<input type="text" name="username" class="text" /><br />
					<label>Password</label><br />
					<input type="password" name="pass" class="text"/><br />
					<input type="submit" name="login" value="Log in" id="login"/>			
				</form> 		
			</div>
			<div class="fl_right" style="width: 380px; height: 2px; background-color: #1C5E82;">
			<a href="@{Authenticate.register()}">Register an account</a>
			</div>
		</div>
		<br class="clear" />
	</div>
  
	<div style="height: 30px;">
		&nbsp;
	</div>
</div>
#{footer /}
